<%= form_for @client_bill do |f| %>
   <% if @client_bill.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@client_bill.errors.count, "error") %> prohibited
        this client from being saved:
      </h2>
      <ul>
        <% @client_bill.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>

    <div>
        <div class="label">Sum:</div>
        <div class="field">
            <%= f.text_field :sum, placeholder: "Sum" %>
        </div>
    </div>

    <% currency = Currency.all %>
    <% if !currency.empty?%>
    <div>
        <div class="label">Currency:</div>
        <div class="field">
      <%= f.select(:currency_id) do %>
        <% currency.each do |c| -%>
          <%= content_tag(:option, c[:name] + " " + c[:symbol], value: c[:id]) %>
        <% end %>
      <% end %>
        </div>
    </div>
    <% else %>
        <div>
            <div class="label">Currency:</div>
            <div class="field">
          <select class='spisok'>
              <option value='nil'></option>
          </select>
            </div>
        </div>
    <% end %>

    <input type='hidden' name='client_id' value='<%= params[:id] %>'>


    <input type='submit', value='Submit', class='button submit green'>

<% end %>
