<title>Edit Client Bill</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">Edit Bill</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back', "/client_bills/#{params[:id]}", class:"button back orange" %>
</p>
