<title>Bill</title>
<div class="middle">
<h1 class="h1-basic">Bill</h1>
<table>
  <tr>
    <th>Bill ID</th>
    <th>Sum</th>
    <th>Date Opened</th>
    <th>Currency</th>
  </tr>
  <% @client_bill.each do |client_bill| %>
    <tr>
      <td><%= client_bill.id %></td>
      <td><%= client_bill.sum %></td>
      <td><%= client_bill.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td>
        <%= Currency.where(:id => client_bill.currency_id)[0][:name] %>
        <%= Currency.where(:id => client_bill.currency_id)[0][:symbol] %>
      </td>
      <% if client_bill.status %>
        <td>
          <button class="button orange" onclick="location.href='/clients/<%="#{client_bill.client_id}"%>/bills'">Back</button>
        </td>
      <% else %>
        <td><button class="button orange" onclick="location.href='/clients/<%="#{client_bill.client_id}"%>/archive_bills'">Back</button></td>
      <% end %>
      <td width='10'></td>
    <% end %>
</table>
    <% if @client_bill[0].status && is_manager? %>
      <button style="float: left" class="button green" onclick="location.href='/client_bills/<%="#{@client_bill[0].id}"%>/new_transaction'">New transaction</button>
      <button style="float: left" class="button orange" onclick="location.href='<%=edit_client_bill_path(@client_bill[0])%>'">Edit</button>
      <button style="float: left" class="button red" onclick="location.href='/client_bills/<%="#{@client_bill[0].id}"%>/to_archive'">To archive</button>
      <h1 style="margin-top: 50px;" class="h1-basic">Current Transactions</h1>
    <% else %>
      <h1 class="h1-basic">Current Transactions</h1>
    <% end %>
</div>
<div class="middle-current-transaction">
  <table>
  <tr>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @bill_operation.each do |bill_operation| %>
    <tr>
      <td><%= bill_operation.sum %></td>
      <td><%= bill_operation.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
    <% end %>
</table>
</div>
