<title>Debtors</title>
<div class="white-wrap">
  <div class="middle">
<div>
  <%= form_tag("/clients", method: :get) do %>
  <input style="width: 325px" type="text" placeholder="Search..." name="q"><br/>
<button class="button blue" style="float: left;">Find</button>
<% end %>
<button class="button blue" onclick="location.href='/search'" style="float: left;">All</button></div>
<button class="button blue" onclick="location.href='/debtors'" style="float: left;">Debtors</button>
<button class="button green" style="float: left" onclick="location.href='<%=new_client_path%>'">New client</button>
<h1 style="margin-top: 50px;" class="h1-basic">Debtors</h1>
<table>
  <tr>
    <th>Client ID</th>
    <th>Client Name</th>
    <th>Credit ID</th>
    <th>Current Sum</th>
    <th>Penalty</th>
    <th>Payment Date</th>
  </tr>
  <% @client_credit.each do |client_credit| %>
  <% if (client_credit.payment_date <=> Date.today) == -1 %>
    <tr>
      <td><%= Client.find(client_credit.client_id).id %></td>
      <td><%= Client.find(client_credit.client_id).full_name %></td>
      <td><%= client_credit.id %></td>
      <td><%= client_credit.current_sum %></td>
      <td><%= Credit.where(:id => client_credit.credit_id)[0][:penalty] %>%</td>
      <td><%= client_credit.payment_date %></td>
      <td>
        <button class="button blue" onclick="location.href='<%=client_credit_path(client_credit)%>'">Show</button>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
</div>
