<title>Edit Client Credit</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">Edit Credit</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back', "/client_credits/#{params[:id]}", class:"button back orange" %>
</p>
