<title>Credit</title>
<div class="middle">
<h1 class="h1-basic">Credit</h1>
<table>
  <tr>
    <th>Credit ID</th>
    <th>Credit Type</th>
    <th>Sum</th>
    <th>Current Sum</th>
    <th>Final Sum</th>
    <th>Date Opened</th>
    <th>Currency</th>
    <th>Rate</th>
    <th>Penalty</th>
    <th>Final Payment Day</th>
  </tr>
  <% @client_credit.each do |client_credit| %>
    <tr>
      <td><%= client_credit.id %></td>
      <td><%= Credit.where(:id => client_credit.credit_id)[0][:name] %></td>
      <td><%= client_credit.sum %></td>
      <td><%= client_credit.current_sum %></td>
      <td><%= @final_sum %></td>
      <td><%= client_credit.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td>
        <%= Currency.where(:id => Credit.where(:id => client_credit.credit_id)[0][:currency_id])[0][:name] %>
        <%= Currency.where(:id => Credit.where(:id => client_credit.credit_id)[0][:currency_id])[0][:symbol] %>
      </td>
      <td><%= Credit.where(:id => client_credit.credit_id)[0][:rate] %>%</td>
      <td><%= Credit.where(:id => client_credit.credit_id)[0][:penalty] %>%</td>
      <td><%= client_credit.payment_date.strftime("%d-%m-%Y") %></td>
      <% if client_credit.status %>
        <td>
          <button class="button orange" onclick="location.href='/clients/<%="#{client_credit.client_id}"%>/credits'">Back</button>
        </td>
      <% else %>
        <td><button class="button orange" onclick="location.href='/clients/<%="#{client_credit.client_id}"%>/archive_credits'">Back</button></td>
      <% end %>
      <td width='10'></td>
    <% end %>
</table>
    <% if @client_credit[0].status && is_manager? %>
      <button style="float: left" class="button green" onclick="location.href='/client_credits/<%="#{@client_credit[0].id}"%>/new_transaction'">New transaction</button>
      <button style="float: left" class="button orange" onclick="location.href='<%=edit_client_credit_path(@client_credit[0])%>'">Edit</button>
      <button style="float: left" class="button red" onclick="location.href='/client_credits/<%="#{@client_credit[0].id}"%>/to_archive'">To archive</button>
      <h1 style="margin-top: 50px;" class="h1-basic">Current Transactions</h1>
    <% else %>
      <h1 class="h1-basic">Current Transactions</h1>
    <% end %>
  </div>

<div class="middle-current-transaction">
  <table>
  <tr>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @credit_operation.each do |credit_operation| %>
    <tr>
      <td><%= credit_operation.sum %></td>
      <td><%= credit_operation.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
    <% end %>
</table>
</div>
