<title>Contacts</title>
<body>
	<div class="grey-wrap">
	<div id="content">
		<div class="inner pad1">
			<div class="container_12">
				<div class="login_div h-pad">
					<div class="grid_7">
						<h2>Contact Info</h2>
						<div class="login_div">
							<div class="grid_4 alpha">
								<iframe width="300" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.546301163541!2d30.448219415731383!3d50.44955097947528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc266573fc55%3A0x77ffc229f03c8b5a!2z0JrQvtCy0LDQu9GM0YHRjNC60LjQuSDQv9GA0L7QstGD0LvQvtC6LCA1LCDQmtC40ZfQsg!5e0!3m2!1sru!2sua!4v1479753113736" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
							<div class="grid_3 omega">
								<div class="contacts">
									<strong class="title">Union Bank</strong>
									ln Kovalsky 5, <br>
									Telephone:+38067XXXXXXX<br>
									E-mail: <a href="#" class="link">example@gmail.com</a>

									<p>Admin</p>
									Telephone:+38099XXXXXXX<br>
									E-mail: <a href="#" class="link">example@ukr.net</a>

									<p>Manager</p>
									Telephone:+38095XXXXXXX<br>
									E-mail: <a href="#" class="link">example@mail.ru</a>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_4 prefix_1">
						<h2>Get In Touch</h2>
						<form id="contact-form">
							<fieldset>
								<label><input type="text" value="Name" onFocus="if(this.value=='Name'){this.value=''}" onBlur="if(this.value==''){this.value='Name'}">	</label>
								<label><input type="text" value="Email" onFocus="if(this.value=='Email'){this.value=''}" onBlur="if(this.value==''){this.value='Email'}">	</label>
								<label><input type="text" value="Phone" onFocus="if(this.value=='Phone'){this.value=''}" onBlur="if(this.value==''){this.value='Phone'}">	</label>
								<textarea onFocus="if(this.value=='Message'){this.value=''}" onBlur="if(this.value==''){this.value='Message'}">Message</textarea>
								<p style="margin-top: 10px;">
									<a href="#" style="margin-top: 30px;" class="button1 red" onClick="document.getElementById('contact-form').reset()">clear</a>
									<a href="#" style="margin-top: 30px;" class="button1 green" onClick="document.getElementById('contact-form').submit()">send</a>
								</p>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
