<title>Home</title>
<body>
	<div id="content">
		<div class="slider" style="padding: 100px">
			<div class="container_12">
				<div class="grid_12">
				<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">

					<% if is_admin? %>
						<div data-src='<%=image_url("3.gif")%>'>
							<div style="text-align: center; line-height: 1;" class="camera_caption fadeIn">
									<h2>Вжух и ты в завтрашнем дне!</h2>
											Не каждый может смотреть в завтрашний день, но наш банк может!
											<p><a href="/trigger" class="button">The next day</a></p>
							</div>
						</div>
					<% end %>

		         <div data-src='<%=image_url("1.gif")%>'>
		          <div class="camera_caption fadeIn">
		              <h2>Deposits</h2>
                      Union Bank - the most reliable bank in the world!
		              	<p><a href="/deposits" class="button">Learn more</a></p>
		          </div>
		         </div>

		        <div data-src='<%=image_url("2.gif")%>'>
		          <div class="camera_caption fadeIn">
		              <h2>Credits</h2>
                      The most attractive rates in the world!
                      <p><a href="/credits" class="button">Learn more</a></p>
		          </div>
		        </div>
		        </div>
		        </div>
	  	    </div>
		</div>
	</div>
</body>
</html>
