<title>Sign in</title>
<body style="background-color: #e2e2e2;">
	<div class="main-signin">
		<div class="main-signin__head">
			<p>Sign in</p>
		</div>
		<div class="main-signin__middle">
			<div class="middle__form">
				<%= form_for(:session, url: sessions_path) do |f| %>
					<input type="text" name="session[login]" placeholder="Login">
					<input type="password" name="session[password]" placeholder="Password">
		      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
