<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited
       this client from being saved:
     </h2>
     <ul>
       <% @user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
 
<% if is_admin? %>
<div>
   <div>
       <div class="label">Login:</div>
       <div class="field">
           <%= f.text_field :login, placeholder: "Login" %>
       </div>
   </div>
<% end %>

   <div>
       <div class="label">Password:</div>
       <div class="field">
           <%= f.password_field :password, placeholder: "Password"  %>
       </div>
   </div>

   <div>
       <div class="label">Password confirmation:</div>
       <div class="field">
           <%= f.password_field :password_confirmation, placeholder: "Password confirmation"  %>
       </div>
   </div>

   <input type='submit', value='Submit', class='button submit green'>

<% end %>
