<title>Edit User</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">Edit user</h1>
<%= render 'form' %>
<p>
  <% if !is_manager? %>
    <%= link_to 'Back', client_path(Client.find(current_user.client_id)), class:"button back orange" %>
  <% else %>
    <%= link_to 'Back', "/users", class:"button back orange" %>
  <% end %>
</p>
