<title>Add Manager</title>
<div class="grey-wrap">
<div class="middle-form">
<h1  class="h1-basic">New manager</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back', users_path, class:"button back orange" %>
</p>
