<%= form_for @client do |f| %>

   <% if @client.errors.any? || @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@client.errors.count + @user.errors.count, "error") %> prohibited
        this client from being saved:
      </h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

      <ul>
        <% @client.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

<div>

    <div>
        <div class="label">Full Name:</div>
        <div class="field">
            <%= f.text_field :full_name, placeholder: "Full Name"  %>
        </div>
    </div>

    <div>
        <div class="label">Sex:</div>
        <div class="field">
            <%= f.select(:sex) do %>
              <% [['Male', true], ['Female', false]].each do |c| -%>
                <%= content_tag(:option, c.first, value: c.last) %>
              <% end %>
            <% end %>
        </div>
    </div>

    <div>
        <div class="label">Birth</div>
        <div class="field">
            <%= f.date_field :birth, placeholder: "Birthday"  %>
        </div>
    </div>

    <div>
        <div class="label">Address</div>
        <div class="field">
            <%= f.text_field :address, placeholder: "Address"  %>
        </div>
    </div>

    <div>
        <div class="label">Phone:</div>
        <div class="field">
            <%= f.text_field :phone, placeholder: "Phone"  %>
        </div>
    </div>

    <div>
        <div class="label">Passport:</div>
        <div class="field">
            <%= f.text_field :passport, placeholder: "Passport"  %>
        </div>
    </div>

    <div>
        <div class="label">ID Number:</div>
        <div class="field">
            <%= f.text_field :id_number, placeholder: "Identification Number"  %>
        </div>
    </div>

    <div>
        <div class="label">Email</div>
        <div class="field">
            <%= f.text_field :email, placeholder: "Email"  %>
        </div>
    </div>

    <div>
        <div class="label">Password:</div>
        <div class="field">
            <%= password_field(:user, :password, placeholder: "Password") %>
        </div>
    </div>

    <div>
        <div class="label">Password Confirmation:</div>
        <div class="field">
            <%= password_field(:user, :password_confirmation, placeholder: "Password Confirmation") %>
        </div>
    </div>

    <input type='submit', value='Submit', class='button submit green'>

<% end %>
