<title>Archive Bills</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client bills archive</h1>
<table>
  <tr>
    <th>Bill ID</th>
    <th>Sum</th>
    <th>Date Archived</th>
  </tr>


  <% @archive_client_bill.each do |archive_client_bill| %>
    <tr>
      <td><%= archive_client_bill.id %></td>
      <td><%= archive_client_bill.sum %></td>
      <td><%= archive_client_bill.updated_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td><button class="button blue" onclick="location.href='<%=client_bill_path(archive_client_bill)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
