<title>Archive Deposits</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client deposits archive</h1>
<table>
  <tr>
    <th>Deposit ID</th>
    <th>Deposit Type</th>
    <th>Sum</th>
    <th>Date Archived</th>
  </tr>


  <% @archive_client_deposit.each do |archive_client_deposit| %>
    <tr>
      <td><%= archive_client_deposit.id %></td>
      <td><%= Deposit.where(:id => archive_client_deposit.deposit_id)[0][:name] %></td>
      <td><%= archive_client_deposit.sum %></td>
      <td><%= archive_client_deposit.updated_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td><button class="button blue" onclick="location.href='<%=client_deposit_path(archive_client_deposit)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
