<title>Archive Credits</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client credits archive</h1>
<table>
  <tr>
    <th>Credit ID</th>
    <th>Credit Type</th>
    <th>Sum</th>
    <th>Date Archived</th>
  </tr>


  <% @archive_client_credit.each do |archive_client_credit| %>
    <tr>
      <td><%= archive_client_credit.id %></td>
      <td><%= Credit.where(:id => archive_client_credit.credit_id)[0][:name] %></td>
      <td><%= archive_client_credit.sum %></td>
      <td><%= archive_client_credit.updated_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td><button class="button blue" onclick="location.href='<%=client_credit_path(archive_client_credit)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
