<title>Bill Transactions</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<h1 class="h1-trancactions">Bill Transactions</h1>
<div class="middle-transaction">
  <table>
  <tr>
    <th>ID</th>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @bill_transaction.each do |bill_transaction| %>
    <tr>
      <td><%= bill_transaction.client_bill_id %></td>
      <td><%= bill_transaction.sum %></td>
      <td><%= bill_transaction.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
  </tr>
  <% end %>

</table>
</div>
