<title>Client Bills</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client bills</h1>
<table>
  <tr>
    <th>Bill ID</th>
    <th>Sum</th>
    <th>Date Opened</th>
  </tr>


  <% @client_bill.each do |client_bill| %>
    <tr>
      <td><%= client_bill.id %></td>
      <td><%= client_bill.sum %></td>
      <td><%= client_bill.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td>
        <% if is_manager? %>
          <button class="button red" onclick="location.href='/client_bills/<%="#{client_bill.id}"%>/to_archive'">To archive</button>
          <button class="button orange" onclick="location.href='<%=edit_client_bill_path(client_bill)%>'">Edit</button>
        <% end %>
          <button class="button blue" onclick="location.href='<%=client_bill_path(client_bill)%>'">Show</button>
        <% if is_manager? %>
          <button class="button green" onclick="location.href='/client_bills/<%="#{client_bill.id}"%>/new_transaction'">New transaction</button>
        <% end %>
      </td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
