<title>Credit Transactions</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<h1 class="h1-trancactions">Credit Transactions</h1>
<div class="middle-transaction">
  <table>
  <tr>
    <th>ID</th>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @credit_transaction.each do |credit_transaction| %>
    <tr>
      <td><%= credit_transaction.client_credit_id %></td>
      <td><%= credit_transaction.sum %></td>
      <td><%= credit_transaction.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
  </tr>
  <% end %>

</table>
</div>
</div>
