<title>Client Deposits</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<div class="center">
<h1 class="h1-basic">Client deposits</h1>
<table>
  <tr>
    <th>Deposit ID</th>
    <th>Deposit Type</th>
    <th>Sum</th>
    <th>Date Opened</th>
  </tr>


  <% @client_deposit.each do |client_deposit| %>
    <tr>
      <td><%= client_deposit.id %></td>
      <td><%= Deposit.where(:id => client_deposit.deposit_id)[0][:name] %></td>
      <td><%= client_deposit.sum %></td>
      <td><%= client_deposit.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td>
        <% if is_manager? %>
          <button class="button red" onclick="location.href='/client_deposits/<%="#{client_deposit.id}"%>/to_archive'">To archive</button>
          <button class="button orange" onclick="location.href='<%=edit_client_deposit_path(client_deposit)%>'">Edit</button>
        <% end %>
          <button class="button blue" onclick="location.href='<%=client_deposit_path(client_deposit)%>'">Show</button>
        <% if is_manager? %>
          <button class="button green" onclick="location.href='/client_deposits/<%="#{client_deposit.id}"%>/new_transaction'">New transaction</button>
        <% end %>
      </td>
      <td width='10'></td>
    </tr>
      <% end %>
</table>
</div>
