<title>Deposit Transactions</title>
<div class="white-wrap">
<%= render "layouts/client_menu" %>
<h1 class="h1-trancactions">Deposit Transactions</h1>
<div class="middle-transaction">
  <table>
  <tr>
    <th>ID</th>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @deposit_transaction.each do |deposit_transaction| %>
    <tr>
      <td><%= deposit_transaction.client_deposit_id %></td>
      <td><%= deposit_transaction.sum %></td>
      <td><%= deposit_transaction.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
  </tr>
  <% end %>

</table>
</div>
