<title>Clients</title>
<div class="white-wrap">
<div class="middle">
<div>
  <%= form_tag("/clients", method: :get) do %>
<input style="width: 325px" type="text" placeholder="Search..." name="q"><br/>
<button class="button blue" style="float: left;">Find</button>
<% end %>
<button class="button blue" onclick="location.href='/search'" style="float: left;">All</button></div>
<button class="button blue" onclick="location.href='/debtors'" style="float: left;">Debtors</button>
<button class="button green" style="float: left" onclick="location.href='<%=new_client_path%>'">New client</button>
<h1 style="margin-top: 50px;" class="h1-basic">Clients</h1>
<table>
  <tr>
    <th>Full Name</th>
    <th>Phone</th>
    <th>Passport</th>
    <th>ID Number</th>
    <th>E-mail</th>
    <th>Address</th>
  </tr>
  <% @client.each do |client| %>
    <tr>
      <td><%= client.full_name %></td>
      <td><%= client.phone %></td>
      <td><%= client.passport %></td>
      <td><%= client.id_number %></td>
      <td><%= client.email %></td>
      <td><%= client.address %></td>
      <td><button class="button orange" onclick="location.href='<%=edit_client_path(client)%>'">Edit</button>
      <button class="button blue" onclick="location.href='<%=client_path(client)%>'">Show</button></td>
      <td width='10'></td>
    </tr>
  <% end %>
</table>
</div>
