<title>Add Client</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">New client</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back', search_path, class:"button back orange" %>
</p>
