<title>Add Client Bill</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">New client bill</h1>
<%= render "client_bills/form" %>
<p>
  <%= link_to 'Back', "/clients/#{params[:id]}", class:"button back orange" %>
</p>
