<title>Add Client Credit</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">New client credit</h1>
<%= render "client_credits/form" %>
<p>
  <%= link_to 'Back', "/clients/#{params[:id]}", class:"button back orange" %>
</p>
