<title>Add Client Deposit</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">New client deposit</h1>
<%= render "client_deposits/form" %>
<p>
  <%= link_to 'Back', "/clients/#{params[:id]}", class:"button back orange" %>
</p>
