<title>Profile</title>
<%= render "layouts/client_menu" %>
<div class="middle-form">
  <h1 class="h1-basic"><%= @client.full_name %></h1>

<p class="profile" style="margin-top: 0;">
  <strong>Sex:</strong>
  <%= (@client.sex)? "Male" : "Female" %>
</p>

<p class="profile">
  <strong>Birth:</strong>
  <%= @client.birth %>
</p>

<p class="profile">
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p class="profile">
  <strong>Passport:</strong>
  <%= @client.passport %>
</p>

<p class="profile">
  <strong>ID Number:</strong>
  <%= @client.id_number %>
</p>

<p class="profile">
  <strong>E-mail:</strong>
  <%= @client.email %>
</p>

<p class="profile">
  <strong>Address:</strong>
  <%= @client.address %>
</p>

</div>
