<title>Credits</title>
<div class="white-wrap">
  <div class="middle-offers">
  <h1 class="h1-basic">Credits</h1>
  <table>
    <tr>
      <th>Credit ID</th>
      <th>Credit Name</th>
      <th>Currency</th>
      <th>Term</th>
      <th>Rate</th>
      <th>Max Sum</th>
      <th>Penalty</th>
    </tr>
  <% @credit.each do |credit| %>
    <tr>
      <td><%= credit.id %></td>
      <td><%= credit.name %></td>
      <td><%= Currency.find(credit.currency_id).name %> <%= Currency.find(credit.currency_id).symbol %></td>
      <td><%= credit.term %></td>
      <td><%= credit.rate %>%</td>
      <td><%= credit.max_sum %></td>
      <td><%= credit.penalty %>%</td>
      <% if is_manager? %>
        <td>
          <button class="button red" onclick="location.href='/credits/<%="#{credit.id}"%>/to_archive'">To archive</button>
          <button class="button orange" onclick="location.href='/credits/<%="#{credit.id}"%>/edit'">Edit</button>
        </td>
      <% end %>
    </tr>
    <% end %>
</table>
<% if is_manager? %>
  <button class="button green" style="float: left" onclick="location.href='<%=new_credit_path%>'">New credit</button>
<% end %>
</div>
</div>
