<title>Add Credit</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">New credit</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back', credits_path, class: "button back orange"%>
</p>
