<title>Edit Deposit</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">Edit deposit</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back', deposits_path, class:"button back orange" %>
</p>
