<%= form_for @client_deposit do |f| %>
   <% if @client_deposit.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@client_deposit.errors.count, "error") %> prohibited
        this client deposit from being saved:
      </h2>
      <ul>
        <% @client_deposit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>
    <% deposit = Deposit.where(:status => true) %>
    <% if !deposit.empty?%>
    <div>
        <div class="label">Type of deposit:</div>
        <div class="field">
            <%= f.select(:deposit_id) do %>
              <% deposit.each do |c| -%>
                <% if c[:status] -%>
                  <%= content_tag(:option, c[:name], value: c[:id]) %>
                <% end %>
              <% end %>
            <% end %>

        </div>
    </div>
    <% else %>
        <div>
            <div class="label">Type of deposit:</div>
            <div class="field">
          <select class='spisok'>
              <option value='nil'></option>
          </select>
            </div>
        </div>
    <% end %>

    <div>
        <div class="label">Sum:</div>
        <div class="field">
            <%= f.text_field :sum, placeholder: "Sum" %>
        </div>
    </div>

    <input type='hidden' name='client_id' value='<%= params[:id] %>'>

    <input type='submit', value='Submit', class='button submit green'>

<% end %>
