<title>Edit Client Deposit</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">Edit Deposit</h1>
<%= render 'form' %>
<p>
  <%= link_to 'Back', "/client_deposits/#{params[:id]}", class:"button back orange" %>
</p>
