<title>Add Transaction</title>
<div class="grey-wrap">
<div class="middle-form">
<h1 class="h1-basic">New deposit operation</h1>
<%= form_for @deposit_operation do |f| %>
   <% if @deposit_operation.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@deposit_operation.errors.count, "error") %> prohibited
        this deposit from being saved:
      </h2>
      <ul>
        <% @deposit_operation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div>

    <div>
        <div class="label">Sum:</div>
        <div class="field">
            <%= f.text_field :sum, placeholder: "Sum" %>
        </div>
    </div>

    <input type='hidden' name='client_deposit_id' value='<%= params[:id] %>'>

    <input type='submit', value='Submit', class='button submit green'>

<% end %>
<p>
  <%= link_to 'Back', "/client_deposits/#{params[:id]}", class:"button back orange" %>
</p>
