<title>Deposit</title>
<div class="middle">
<h1 class="h1-basic">Deposit</h1>
<table>
  <tr>
    <th>Deposit ID</th>
    <th>Deposit Type</th>
    <th>Sum</th>
    <th>Date Opened</th>
    <th>Currency</th>
    <th>Rate</th>
  </tr>
  <% @client_deposit.each do |client_deposit| %>
    <tr>
      <td><%= client_deposit.id %></td>
      <td><%= Deposit.where(:id => client_deposit.deposit_id)[0][:name] %></td>
      <td><%= client_deposit.sum %></td>
      <td><%= client_deposit.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
      <td>
        <%= Currency.where(:id => Deposit.where(:id => client_deposit.deposit_id)[0][:currency_id])[0][:name] %>
        <%= Currency.where(:id => Deposit.where(:id => client_deposit.deposit_id)[0][:currency_id])[0][:symbol] %>
      </td>
      <td><%= Deposit.where(:id => client_deposit.deposit_id)[0][:rate] %>%</td>
      <% if client_deposit.status %>
        <td>
          <button class="button orange" onclick="location.href='/clients/<%="#{client_deposit.client_id}"%>/deposits'">Back</button>
        </td>
      <% else %>
        <td><button class="button orange" onclick="location.href='/clients/<%="#{client_deposit.client_id}"%>/archive_deposits'">Back</button></td>
      <% end %>
      <td width='10'></td>
    <% end %>
</table>
    <% if @client_deposit[0].status && is_manager? %>
      <button style="float: left" class="button green" onclick="location.href='/client_deposits/<%="#{@client_deposit[0].id}"%>/new_transaction'">New transaction</button>
      <button style="float: left" class="button orange" onclick="location.href='<%=edit_client_deposit_path(@client_deposit[0])%>'">Edit</button>
      <button style="float: left" class="button red" onclick="location.href='/client_deposits/<%="#{@client_deposit[0].id}"%>/to_archive'">To archive</button>
      <h1 style="margin-top: 50px;" class="h1-basic">Current Transactions</h1>
    <% else %>
      <h1 class="h1-basic">Current Transactions</h1>
    <% end %>
</div>

<div class="middle-current-transaction">
  <table>
  <tr>
    <th>Sum</th>
    <th>Date</th>
  </tr>
    <% @deposit_operation.each do |deposit_operation| %>
    <tr>
      <td><%= deposit_operation.sum %></td>
      <td><%= deposit_operation.created_at.strftime("%d-%m-%Y, %H:%M") %></td>
    <% end %>
</table>
</div>
