
/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Global properties ======================================================== */

body {
	background:#fff;
	font-family: 'Lato', sans-serif;
	font-size:16px;
	line-height:1.375em;
	color:#343434;
	min-width:1000px;
}
.white-wrap {
	background-color: white;/* #e2e2e2; */
	overflow: hidden;
	min-height: calc(100% - 110px);
	min-height: -webkit-calc(100% - 110px);
	min-height: -moz-calc(100% - 110px);
}

.grey-wrap {
	background-color: #e2e2e2;
	overflow: hidden;
	min-height: calc(100% - 110px);
	min-height: -webkit-calc(100% - 110px);
	min-height: -moz-calc(100% - 110px);
}
.ic {
	border:0;
	float:right;
	background:#fff;
	color:#f00;
	width:50%;
	line-height:10px;
	font-size:10px;
	margin:-220% 0 0 0;
	overflow:hidden;
	padding:0
}
html, body { height:100%;}


p {
	padding-top:16px;
	margin-top: 25px;
}

.profile {
	margin-top: 10px;
}

a {
	color:#d52d00;
	outline:none;
}
a:hover{
	text-decoration:none;
}

/* Global Structure ============================================================= */

/* Left & Right alignment */

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.col-1, .col-2, .col-3 { float:left;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.login_div {
	width:100%;
	overflow:hidden;
}
/*----- form defaults -----*/
input, select, textarea {
	font-size:1em;
	font-family: 'Lato', sans-serif;
	vertical-align:middle;
	font-weight:normal;
	margin-top: 5px;
}
input, textarea {
	color: #aeaeae;
	/*border-radius: 5px;*/
	background: #fff;
	border: none;
	width: 35%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	padding: 8px 10px;
	border-bottom: 1px solid black;
	outline: none;
}

/*----- other -----*/
.img-indent {
	margin:0 40px 0 0;
	float:left;
}
.extra-wrap {
	width:100%;
}


h2 {
	font-weight: 300;
	font-size: 30px;
	padding: 10px 0 28px 0;
}
	.h-pad {
		padding-top: 40px;
	}
	.h-pad1 {
		padding-top: 50px;
	}
	.h-indent {
		padding-bottom: 0px;
	}
figure img {
	border-radius:5px;
	overflow: hidden;
}

.pad {
	padding-top: 30px;
}

/*===== header =====*/
header{
	min-height:82px;
	background: url(image-path('header-bg.gif')) left top repeat;
	border-bottom: 3px solid #1c1e21;
	padding-top: 25px;
}
	.logo {
		display: block;
		width: 270px;
    margin-top: 7px;
		height: 70px;
		background: url(image-path('logo.gif')) left top no-repeat;
		float: left;
		background-size: 90%;
	}
		nav {
			float: right;
		}
			.menu {
				padding-top: 5px;
				line-height: 54px;
				list-style: none;
			}
				.menu li {
					float: left;
					padding: 0 20px 0 26px;
					color:#fff;

				}
					.menu li a {
						color: #999;
						text-decoration: none;
						text-transform: uppercase;
					}
						.menu li a:hover, .menu .active a {
							color: #fff;
						}
/*===== content =====*/
#content {

}
	.slider {
		height: 367px;
		padding-top: 40px;
	}
	.inner {
		border-top: 0px solid #fcfcfd;
		border-bottom: 0px solid #fcfcfd;
	}
	.block {
		padding: 40px 0 50px 0;
		background: url(image-path('border-bg.gif')) left bottom repeat-x;
		overflow: hidden;
	}
	.block-pad {
		padding: 40px 0 40px 0;
	}
	.info-block {
		float: left;
		width: 740px;
		text-transform: uppercase;
		font-weight: 400;
	}
		.link {
			color: #ee4003;
			text-decoration: none;
		}
			.link:hover {
				text-decoration: underline;
			}

		.button, .button1 {
			font-family: Arial;
			margin-right: 5px;
			margin-top: 5px;
	    cursor: pointer;
	    float: right;
	    padding: 10px 18px;
	    color: #fff;
	    background: #6b7b75;
	    border: 0;
	    text-transform: uppercase;
	    text-decoration: none;
	    font-weight: 300;
	    transition: all 0.2s linear;
	    -webkit-transition: all 0.2s linear;
	    -moz-transition: all 0.2s linear;
	    -o-transition: all 0.2s linear
		}

			.red:hover {
    		background: red;
			}
			.blue:hover {
    		background: blue;
			}
			.orange:hover {
    		background: orange;
			}
			.green:hover {
    		background: green;
			}
			.delete {
				font-size: 11px;
				padding: 10px 18px;
			}
			.submit {
				float: left;
				margin-top: 5px;
				padding: 7px 18px;
			}
			.back {
				font-size: 11px;
				float: left;
				padding: 5px 18px;
			}
		.button1 {
			width: 100%;
			float: none;
		padding: 8px 28px;
		margin-top: 24px;
		}
	.grid-inner {
		padding-right: 61px;
	}

	.testimonial-block {
		background: #343434;
			border-radius: 5px;
			color: #edf0f6;
			text-align: center;
			padding: 37px 50px;
			position: relative;
	}
	.testimonial-block:before {
		position: absolute;
		width:39px;
		content: '';
		height: 40px;
		background: url(image-path('testimonials_bg.png')) left top no-repeat;
		left: 14px;
		top:14px;
	}

		.clients-list li {
			float: left;
			padding-left: 76px;
		}
			.clients-list li:first-child {
				padding-left: 0;
			}
.camera_caption div{
	padding: 0;
	background: none;
	color: #999999;
}
.camera_caption div h2 {
	color: black;
	padding-bottom: 35px;
}
.camera_caption .button {
	margin-top: 18px;
			float: none;
			display: inline-block;
			padding: 18px 35px 18px 35px;
			color: #000;
			background: #edf0f6;
			border-radius: 5px;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 300;
			transition:all 0.2s linear;
			-webkit-transition:all 0.2s linear;
     	-moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
}
	.camera_caption .button:hover {
		transition:all 0.2s linear;
			-webkit-transition:all 0.2s linear;
     	-moz-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
       background: #999;
	}

	.works li {
		padding-bottom: 24px;
	}
	.works .link {
		margin-bottom: 8px;
		display: inline-block;
	}
	.works li .button {
		float: none;
		padding: 8px 20px;
		margin-top: 0px;
	}


.carousel {
	width:940px !important;
	height: 52px;
	margin-bottom: -10px;
}
	.carousel li {
		padding: 0 60px 0 0;
	}

.prev, .next {
	position: absolute;
	display: block;
	width: 39px;
	height: 39px;
	opacity: 1
}
.prev:hover, .next:hover {
	opacity: 0.9;
}
.prev {
	background: url(image-path('prev_bg.gif')) left top no-repeat;
	right: 48px;
	top: 50px;
}
.next {
	background: url(image-path('next_bg.gif')) left top no-repeat;
	right: 0;
	top: 50px;
}
.title {
	display: block;
	padding: 10px 0 10px 0;
}

.list {
	margin-top: -5px;
}
.list li {
	background:url(image-path('li-bg.gif')) left 13px no-repeat;
	line-height: 30px;
	padding-left: 15px;
}
	.list li a {
		text-decoration: none;
		color: #343434;
	}
		.list li a:hover {
			color: #d52d00
		}



	#contact-form input {
		padding-left: 20px;
		width: 80%;
	}
		#contact-form textarea {
		padding-left: 20px;
		resize:none;
		height: 128px;
		width: 80%;
	}
		#contact-form label {
		height: 49px;
		display: block;
	}
		#contact-form .button1  {
		margin-right: 10px;
		padding: 8px 22px;
	}
	#search-form input {
		padding-left: 20px;
		font-weight: 300;
		width: 254px;
	}
	#search-form input[type=image] {
		width: 37px;
		padding: 0;
		margin-left: 4px;
	}

.contacts {
	padding-left: 15px;
}
	.contacts .title {
		padding: 5px 0 20px 0;
	}
	.pad1 {
}

iframe {
	border-radius: 5px;
}

.news li {
	padding-top: 20px;
}
.news li:first-child {
	padding-top: 0;
}
.news figure {
	float: left;
	margin-right: 20px;
}
	.news strong {
		display: block;
		padding: 2px 0 5px 0;
	}
		.news a {
			text-decoration: none;
			color: #343434;
		}
			.news a:hover {
				color: #d52d00;;
			}

.null {
	padding-bottom: 0;
	background: none;
}
.post {
}

.post .info {
	width: 350px;
	float: left;
	padding-bottom: 20px;
}
.post .button1 {
	padding: 8px 20px;
	margin:14px 20px 0 0;
}
	.post .date {
		float: left;
		margin-right: 11px;
		width: 50px;
		background: #fff;
		text-align: center;
		font-size: 24px;
	}
	.post .date strong {
		display: block;
		padding: 5px 0
	}
	.post .date span{
		display: block;
		background: #7f7f7f;
		padding: 3px 0;
		line-height: 15px;
		color: #fff;
		font-size: 15px;
	}
	 .post .info a{
	 	color: #343434;
	 	text-decoration: none;
	 }
	 	.post .info a:hover {
	 		color: #d52d00;
	 	}

.comments {
	float: right;
	line-height: 20px;
}
	.comments span {
		display: inline-block;
		width: 26px;
		height: 19px;
		background: url(image-path('comment-bg.gif')) left top no-repeat;
		margin: 2px 0 0 10px
	}
/*===== footer =====*/
footer{
	position: absolute;
	color: #9a9a9a;
	width: 100%;
	padding-bottom: 7px;
	background: url(image-path('header-bg.gif')) left top repeat;
}
.social {
	padding-left: 75px;
	line-height: 30px;
	padding-top: 10px;
}
.social a {
	display: inline-block;
	margin-left: 5px;
}

/*==========================================*/
/*Video style*/
#video12 {
	position: relative;
	padding-bottom: 75%;
}
#video12 iframe {
	position: absolute;
	width: calc(100% - 120px);
	height: calc(100% - 120px*3/4);
}
#video12 div {
	position: absolute;
	top: 0;
	right: 0;
	width: 110px;
	height: 100%;
	padding: 5px;
	overflow-y: auto;
}
#video12 img {
	width: calc(100% - (5px + 1px)*2);
	padding: 5px;
	border: 1px solid #555;
	border-radius: 5px;
	opacity: .7;
}
#video12 img:hover {
	opacity: 1;
	cursor: pointer;
}
#video12 img:focus {
	opacity: .2;
}
.button_div{
	position: relative;
	margin:20px 10px;
}
/*Table*/
.center {
	margin-left: 210px;

}
.message {
    padding: 10px 5px;
		overflow: hidden;
		text-shadow: 0.1px 0.1px black;
		color: white;
}
.success {
  background-color: rgba(0, 162, 42, 0.62);
}
.error {
  background-color: rgba(255, 0, 0, 0.75);
}
.notice{
	background-color: rgba(230, 163, 10, 0.75);
}
.middle {
	margin-left: 50px;
	margin-right: 50px;
}
.middle-form {
	margin-left: 210px;
	margin-right: 210px;
}
.middle-offers {
	margin-left: 210px;
	margin-right: 110px;
}

.middle-current-transaction{
	height: calc(100% - 110px);
	margin-left: 50px;
	margin-right: 870px;
}

.middle-transactions {
	height: calc(100% - 110px);
	margin-left: 210px;
	margin-right: 610px;
	overflow: scroll;
}
.middle-transaction{
	height: calc(100% - 110px);
	margin-left: 210px;
	margin-right: 710px;
	overflow: scroll;
}

.left-menu .menu-h1 {
	font-size: 18px;
	font-weight: 100;
	color: black;
}
.left-menu {
	width: 200px;
	height: 100%;
	float: left;
	background-color: #fbfbfb;
	box-shadow: 0px 0px 7px #f1f1f1;
}
.middle input {
	margin-top: 7px;
}
.middle table {
	width: 100%;
}
.middle-offers table {
	width: 100%;
}
.center table {
	width: 95%;
}
table {
	font-family: Arial, Sans-Serif;
  font-weight: 100;
	width: 100%;
  text-align: left;
  background: rgba(241, 241, 241, 0.53);
  color: gray;
}
th {
    font-size: 18px;
    padding: 10px;
}
td {
		vertical-align: middle;
		padding-left: 10px;
}
.img-menu {
	width: 24px;
	height: 24px;
}

.dropdown {
	font-size: 20px;
	position: relative;
	cursor: pointer;
	list-style: none;
	left: 30px;
	top: 30px;
}.dropdown h1{
	color:#fff;
 }
 .dropdown {
	 margin-bottom: 10px;
 }

.h1-basic {
  font-size: 30px;
  padding: 20px 0;
	color: #333;
}

.h1-trancactions{
	font-size: 30px;
  padding: 20px 0;
	color: #333;
	margin-left: 210px;
}

.dropdown-menu{
	border-radius:0px;
	box-shadow:none;
	border:none;
	min-width: 200px;
	top: 32px;
}
.genral-image-h1{
	height: 24px;
}
.genral-image-h1 i {
	color: #5a5858;
}
.dropdown-menu {
	display: none;
}
.dropdown-menu li{
	margin-bottom: 10px;
	line-height: 18px;
	margin-left: 20px;
}
.dropdown-menu li a {
	color: black;
	font-size: 14px;
	text-decoration: none;
	padding: 0px;
}
.dropdown-menu li a:hover {
	text-decoration: underline;
}
.dropdown-menu li i{
	font-size: 14px;
}
.menu li {
	border-radius:0px;
	padding: 0 20px 0 26px;
	display: block;
	color:#fff;

}
.menu li a {
	color: #999;
	text-decoration: none;
	text-transform: uppercase;
}
.menu li a:hover, .menu .active a {
	color: #fff;
}
/*Table*/

/*My_settings*/
.form-line{
	zoom:1;
	overflow: visible;
	width: 500px;
	margin:0;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	padding: 6px 9px;
}
.form-h3{
	zoom:1;
	overflow: visible;
	width: 500px;
	margin:0;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	padding: 6px 9px;
}

.container_settings{
	left:400px;
	margin-left: auto;
	margin-right: auto;

}

.label{
	box-sizing: border-box;
	width:50%;
	text-align: left;
	padding-right: 18px;
	margin-top: 5px;
}
.input{
	line-height: 24px;
}
.client_menu{
	color: #fff;
	font-size: 12px;
	padding: 5px 15px;
	left: 30px;
	margin-bottom: 4em;
}

/*My_settings*/

/*Video style*/
/* Project specifics =========================================================== */
/* Pour some CSS below ========================================================= */
