<% if is_manager? %>
<div style="height: calc(100% - 110px)">
  <div class="left-menu">
      <ul>
          <li  class="dropdown">
              <div class="genral-image-h1">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <h1 style="display: inline" class="menu-h1">Profile</h1>
              </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= link_to 'Client', "/clients/#{params[:id]}", :class=>"client_menu" %>
                  </li>
                  <li>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <%= link_to 'Edit', "/clients/#{params[:id]}/edit", :class=>"client_menu" %>
                  </li>
                  <li>
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <%= link_to 'Delete', client_path(Client.find(params[:id])),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' }, :class=>"client_menu" %>
                  </li>
              </ul>
          </li>

          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1">Deposit</h1>
            </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <%= link_to 'Active', "/clients/#{params[:id]}/deposits" %>
                  </li>
                  <li>
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <%= link_to 'Archive', "/clients/#{params[:id]}/archive_deposits" %>
                  </li>
                  <li>
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <%= link_to 'New', "/clients/#{params[:id]}/new_deposit" %>
                  </li>
              </ul>
          </li>


          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1">Credits</h1>
            </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <%= link_to 'Active', "/clients/#{params[:id]}/credits" %>
                  </li>
                  <li>
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <%= link_to 'Archive', "/clients/#{params[:id]}/archive_credits" %>
                  </li>
                  <li>
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <%= link_to 'New', "/clients/#{params[:id]}/new_credit" %>
                  </li>
              </ul>
          </li>



          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1">Bills</h1>
            </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <%= link_to 'Active', "/clients/#{params[:id]}/bills" %>
                  </li>
                  <li>
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <%= link_to 'Archive', "/clients/#{params[:id]}/archive_bills" %>
                  </li>
                  <li>
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                    <%= link_to 'New', "/clients/#{params[:id]}/new_bill" %>
                  </li>
              </ul>
          </li>

          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1" >Transactions</h1>
            </div>
              <ul class="dropdown-menu">
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'All', "/clients/#{params[:id]}/transactions" %>
                  </li>
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'Credit', "/clients/#{params[:id]}/credit_transactions" %>
                  </li>
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'Deposit', "/clients/#{params[:id]}/deposit_transactions" %>
                  </li>
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'Bill', "/clients/#{params[:id]}/bill_transactions" %>
                  </li>
              </ul>
          </li>
      </ul>
</div>

 <script>
     $(document).ready(function(){
         $('.dropdown .genral-image-h1').click(function() {
             $(this).parent().find('.dropdown-menu').slideToggle("fast");
         });
     });
 </script>
<% else %>
<div style="height: 100%;">
  <div class="left-menu">
      <ul>
          <li  class="dropdown">
              <div class="genral-image-h1">
                <i class="fa fa-bars" aria-hidden="true"></i>
                <h1 style="display: inline" class="menu-h1">Profile</h1>
              </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <%= link_to 'My account', "/clients/#{params[:id]}", :class=>"client_menu" %>
                  </li>
                  <li>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <%= link_to 'Change Password', "/users/#{User.find_by_client_id(params[:id]).id}/edit", :class=>"client_menu" %>
                  </li>
              </ul>
          </li>

          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1">Deposit</h1>
            </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <%= link_to 'Active', "/clients/#{params[:id]}/deposits" %>
                  </li>
                  <li>
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <%= link_to 'Archive', "/clients/#{params[:id]}/archive_deposits" %>
                  </li>
                  <li>
              </ul>
          </li>


          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1">Credits</h1>
            </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <%= link_to 'Active', "/clients/#{params[:id]}/credits" %>
                  </li>
                  <li>
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <%= link_to 'Archive', "/clients/#{params[:id]}/archive_credits" %>
                  </li>
              </ul>
          </li>



          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1">Bills</h1>
            </div>
              <ul  class="dropdown-menu">
                  <li>
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <%= link_to 'Active', "/clients/#{params[:id]}/bills" %>
                  </li>
                  <li>
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <%= link_to 'Archive', "/clients/#{params[:id]}/archive_bills" %>
                  </li>
              </ul>
          </li>

          <li  class="dropdown">
            <div class="genral-image-h1">
              <i class="fa fa-bars" aria-hidden="true"></i>
              <h1 style="display: inline" class="menu-h1" >Transactions</h1>
            </div>
              <ul class="dropdown-menu">
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'All', "/clients/#{params[:id]}/transactions" %>
                  </li>
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'Credit', "/clients/#{params[:id]}/credit_transactions" %>
                  </li>
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'Deposit', "/clients/#{params[:id]}/deposit_transactions" %>
                  </li>
                  <li>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    <%= link_to 'Bill', "/clients/#{params[:id]}/bill_transactions" %>
                  </li>
              </ul>
          </li>
      </ul>
</div>

 <script>
     $(document).ready(function(){
         $('.dropdown .genral-image-h1').click(function() {
             $(this).parent().find('.dropdown-menu').slideToggle("fast");
         });
     });
 </script>
<% end %>
