<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <script>
        jQuery(function(){
          jQuery('#camera_wrap_1').camera({
            height: '317px',
            loader: false,
            pagination: false,
            thumbnails: false,
            time:1500, transPeriod:750
          });
        });
      </script>
    <% if !signed_in? %>
    <header>
		<div class="container_12">
			<div class="grid_12">
				<div class="login_div">
					<a href="/" class="logo"></a>
					<nav>
						<ul class="menu">
              <li><a href="/deposits">Deposits</a></li>
              <li><a href='/credits'>Credits</a></li>
							<li><a href="/contacts">Contacts</a></li>
							<li><a href="/signin">Sing in</a> </li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
  <% elsif is_manager? && !is_admin? %>
      <header>
      <div class="container_12">
        <div class="grid_12">
          <div class="login_div">
            <a href="/" class="logo"></a>
            <nav>
              <ul class="menu">
                <li><a href="/deposits">Deposits</a></li>
                <li><a href='/credits'>Credits</a></li>
                <li><a href ="/search">Clients</a></li>
                <li><a href=<%= edit_user_path(current_user) %>>My account</a></li>
                <li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <% elsif is_admin? %>
        <header>
        <div class="container_12">
          <div class="grid_12">
            <div class="login_div">
              <a href="/" class="logo"></a>
              <nav>
                <ul class="menu">
                  <li><a href="/deposits">Deposits</a></li>
                  <li><a href='/credits'>Credits</a></li>
                  <li><a href ="/search">Clients</a></li>
                  <li><a href="/users">Users</a></li>
                  <li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </header>
    <% else %>
    <header>
    <div class="container_12">
      <div class="grid_12">
        <div class="login_div">
          <a href="/" class="logo"></a>
          <nav>
            <ul class="menu">
              <li><a href="/deposits">Deposits</a></li>
              <li><a href='/credits'>Credits</a></li>
              <li><a href="/contacts">Contacts</a></li>
              <li><a href=<%= client_path(Client.find(current_user.client_id)) %>>My account</a></li>
              <li> <%= link_to "Sign out", signout_path, method: "delete" %> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <% end %>
  <% if flash[:success] %>
    <div class="message success"><%= flash[:success] %></div>
  <% end %>
  <% if flash[:notice] %>
    <div class="message notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:error] %>
    <div class="message error"><%= flash[:error] %></div>
  <% end %>

    <%= yield %>

    <script>
      setTimeout(function() {
    	$('.success').css({'height': 0, 'padding': 0, 'border': 0});}, 2000);
    </script>
    <script>
      setTimeout(function() {
      $('.notice').css({'height': 0, 'padding': 0, 'border': 0});}, 2000);
    </script>

  </body>
</html>
